imageio
plyfile
torch==2.3.1+cu118
torchvision
viser>=0.2.1
gsplat~=1.1.0
torchmetrics
nerfview
tensorboard
imageio[ffmpeg]
git+https://github.com/zhumorui/pycolmap@38a2be3a7059eb2b759591294b46c08b88222736
git+https://github.com/nerfstudio-project/gsplat.git